body {
	/* background-image: url("bg.jpg");
	width: 100%;
	height 100%; */
	font-size: 9pt;
	font-family: Cabin;
	letter-spacing: 0.4px;

}

html, body {
	height: 100%;
}

h1 {
	font-size: 16px;
	font-style: bold;
	/*color: #4DB8B8;*/
}

h2 {
	font-size: 14px;
	font-style: bold;
	/*color: #4DB8B8;*/

}

h3 {
	position: relative;
	font-size: 12.5px;
	font-weight: bold;
	color: #4DB8B8;
	left: 100px;
}

h4 {
	position: relative;
	font-size: 9px;
	font-weight: normal;
	font-style: italic;
	width: 100%;
}

h5 {
	font-size: 10px;
	font-family: helvetica;
	display: inline;

	}

sup {
	font-size: 8px;
}

b {
	/*color: #4DB8B8;*/
}

i {
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #4DB8B8;
}


img {
    width: 150%;
    height: auto;
    max-width: 150%;
}

.container {
	position: absolute;
	left: 50%;
	top: 300px;
	width: 350px;
	margin: -175px;
	line-height: 1.5;
	text-align: justify;
}

.container img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.nav {
	position: fixed;
	right: 30px;
	height: 100%;
	width: 200px;
	top: 20px;
	overflow-y: hidden;
	line-height: 2;
	text-align: right;
	font-size: 7.5pt;
	display: none;
	padding: 10px;
}

.navclick {
	position: fixed;
	right: 30px;
	top: 10px;
	text-align: right;
	font-size: 8pt;
}

.navcover {
	position: absolute;
	right: 30px;
	height: 100%;
	width: 15%;
	background: white;
	display: none;
}

.header {
	margin-top: 120px;
	height: 500px;
	text-align: center;
	-ms-transform: skew(0deg,-5deg); /* IE 9 */
    -webkit-transform: skew(0deg,-5deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-5deg);
}

.header2 {
	position: relative;
	top: -540px;
	height: 500px;
	text-align: center;
	-ms-transform: skew(0deg,3deg); /* IE 9 */
    -webkit-transform: skew(0deg,3deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,3deg);
    color: #4DB8B8;
    font-size: 70pt;
	font-weight: bold;
	opacity: 0.2;
	display: none;
}

.header h1 {
	font-size: 50pt;
	font-weight: bold;
}

.mainsources {
	position: absolute;
	left: -01px;
	top: -5px;
	bottom: 0px;
	height: 3000px;
	width: 8%;
	font-size: 8px;
/*    outline: #4DB8B8 dashed 1.5px; */
    padding: 40px;
}

.startingpoint, .backpack1, .backpack2, .foundation, .building1, .building2, .citizenship, 
.location, .country, .flexible, .moving, .nomads, .globalnomads, 
.liquid, .objects, .invisible, .conclusion, .discussion, .sources {
	margin-top: 50px;
	position: relative;
	left: 0px;
	height: 100%;

}

.foundation, .backpack1, .citizenship1, .country, .moving,
.globalnomads, .objects, .conclusion, .sources {
	left: 50px;
	-ms-transform: skew(0deg,3deg); /* IE 9 */
    -webkit-transform: skew(0deg,3deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,3deg);
/*	padding-left: 100%;
    margin-left: -100%;
    padding-right: 100%;
    margin-right: -100%;
    padding-top: 30px;
    padding-bottom: 30px;
    outline: #4DB8B8 solid 1px;*/
}

.backpack2, .citizenship2, .location, .flexible, .nomads, .liquid,
.invisible, .discussion {
	left: -50px;
	-ms-transform: skew(0deg,-3deg); /* IE 9 */
    -webkit-transform: skew(0deg,-3deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-3deg);
    width: 100%;
}


.foundation {
	margin-top: 65px;
}

.backpack2 {
	margin-top: 0px;
}

.building1 {
	margin-top: 50px;
		width: 350px;
		left: -150px;
		-ms-transform: skew(0deg,-3deg); 
	    -webkit-transform: skew(-0deg,-3deg); 
	    transform: skew(-0deg,-3deg);
}

.building2 {
	margin-top: -250px;
	width: 350px;
	left: 365px;
	-ms-transform: skew(0deg,10deg); 
    -webkit-transform: skew(-0deg,10deg); 
    transform: skew(-0deg,10deg);

}

.line1 {
	position: absolute;
    top: 800px;
    left: 10px;
    width: 100%;
    -ms-transform: skew(0deg,-2deg); /* IE 9 */
    -webkit-transform: skew(0deg,-2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-2deg);
    left: -2px;
}

.line2 {
	position: absolute;
    top: 1380px;
    left: 10px;
    width: 100%;
    -ms-transform: skew(0deg,2deg); /* IE 9 */
    -webkit-transform: skew(0deg,2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,2deg);
    left: -2px;
}

.image1 {
	position: absolute;
	width:400px;
	right: 70%;
}