body {
	/* background-image: url("bg.jpg");
	width: 100%;
	height 100%; */
	font-size: 9pt;
	font-family: Cabin;
	letter-spacing: 0.4px;
}

html, body {
	height: 100%;
}

h1 {
	font-size: 16px;
	font-style: bold;
	/*color: #4DB8B8;*/
}

h2 {
	font-size: 14px;
	font-style: bold;

	/*color: #4DB8B8;*/

}

h3 {
	position: relative;
	font-size: 12.5px;
	font-weight: bold;
	left: 75px;
		opacity: 0.5;

}

h4 {
	position: relative;
	font-size: 9px;
	font-weight: normal;
	font-style: italic;
	left: 50%;
	margin-left: -200px;
	width: 400px;
}

h5 {
	font-size: 10px;
	font-family: helvetica;
	display: inline;
	}

sup {
	font-size: 8px;
}

b {
	/*color: #4DB8B8;*/
}

i {
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	opacity: 0.5;
}


img {
    width: 150%;
    height: auto;
    max-width: 150%;
}

.container {
	position: absolute;
	left: 50%;
	top: 300px;
	width: 500px;
	margin: -250px;
	line-height: 1.5;
}

.container img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.nav {
	position: fixed;
	right: 30px;
	height: 100%;
	width: 200px;
	top: 20px;
	overflow-y: hidden;
	line-height: 2;
	text-align: right;
	font-size: 7.5pt;
	display: none;
	padding: 10px;
}

.navclick {
	position: fixed;
	right: 30px;
	top: 10px;
	text-align: right;
	font-size: 8pt;
}

.navcover {
	position: absolute;
	right: 30px;
	height: 100%;
	width: 15%;
	background: white;
	display: none;
}

.header {
	margin-top: 120px;
	height: 500px;
	text-align: center;
	-ms-transform: skew(0deg,-5deg); /* IE 9 */
    -webkit-transform: skew(0deg,-5deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-5deg);
}

.header2 {
	position: relative;
	top: -540px;
	height: 500px;
	text-align: center;
	-ms-transform: skew(0deg,3deg); /* IE 9 */
    -webkit-transform: skew(0deg,3deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,3deg);
    color: #4DB8B8;
    font-size: 70pt;
	font-weight: bold;
	opacity: 0.2;
	display: none;
}

.header h1 {
	font-size: 50pt;
	font-weight: bold;
}

.mainsources {
	position: absolute;
	left: -01px;
	top: 280px;
	bottom: 0px;
	height: 3000px;
	width: 10%;
	font-size: 8px;
/*    outline: #4DB8B8 dashed 1.5px; */
    padding: 40px;
}

.startingpoint, .backpack, .foundation, .building, .citizenship, 
.location, .country, .flexible, .moving, .nomads, .globalnomads, 
.liquid, .objects, .invisible, .conclusion, .abstract, .sources {
	margin-top: 70px;
	position: relative;
	left: 0px;
	height: 100%;

}

.startingpoint, .foundation, .citizenship, .country, .moving,
.globalnomads, .objects, .conclusion, .sources {
	left: 50px;
	-ms-transform: skew(0deg,3deg); /* IE 9 */
    -webkit-transform: skew(0deg,3deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,3deg);
/*	padding-left: 100%;
    margin-left: -100%;
    padding-right: 100%;
    margin-right: -100%;
    padding-top: 30px;
    padding-bottom: 30px;
    outline: #4DB8B8 solid 1px;*/
}

.backpack, .building, .location, .flexible, .nomads, .liquid,
.invisible, .abstract {
	left: -50px;
	-ms-transform: skew(0deg,-3deg); /* IE 9 */
    -webkit-transform: skew(0deg,-3deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-3deg);
    width: 100%;
}

.sources {
	width: 600px;
	margin-bottom: 75px;
}

.line1 {
	opacity: 0.5;
	position: absolute;
    top: 770px;
    left: 10px;
    width: 100%;
    -ms-transform: skew(0deg,-2deg); /* IE 9 */
    -webkit-transform: skew(0deg,-2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-2deg);
    left: -2px;
}

.line2 {
	opacity: 0.5;
	position: absolute;
    top: 2470px;
    left: 10px;
    width: 100%;
    -ms-transform: skew(0deg,-2deg); /* IE 9 */
    -webkit-transform: skew(0deg,-2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-2deg);
    left: -2px;
}

.line3 {
	opacity: 0.5;
	position: absolute;
    top: 5020px;
    left: 10px;
    width: 100%;
    -ms-transform: skew(0deg,2deg); /* IE 9 */
    -webkit-transform: skew(0deg,2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,2deg);
    left: -2px;
}

.line4 {
	opacity: 0.5;
	position: absolute;
    top: 8770px;
    left: 10px;
    width: 100%;
    -ms-transform: skew(0deg,-2deg); /* IE 9 */
    -webkit-transform: skew(0deg,-2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-2deg);
    left: -2px;
}

.line5 {
	opacity: 0.5;
	position: absolute;
    top: 10450px;
    left: 10px;
    width: 100%;
    -ms-transform: skew(0deg,2deg); /* IE 9 */
    -webkit-transform: skew(0deg,2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,2deg);
    left: -2px;
}

.line6 {
	opacity: 0.5;
	position: absolute;
    top: 12775px;
    left: 10px;
    width: 100%;
    -ms-transform: skew(0deg,-2deg); /* IE 9 */
    -webkit-transform: skew(0deg,-2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,-2deg);
    left: -2px;
}

.line7 {
	opacity: 0.5;
	position: absolute;
    top: 14010px;
    left: 10px;
    width: 100%;
    -ms-transform: skew(0deg,2deg); /* IE 9 */
    -webkit-transform: skew(0deg,2deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,2deg);
    left: -2px;
}

.image1 {
	position: absolute;
	width:400px;
	right: 70%;
}